<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        tr {
            width: 210px;
            height: 50px;
        }
        button {
            width: 50px;
            height: 50px;
        }
        input[type=text] {
            width: 200px;
            height: 50px;
            padding: 5px 5px;
            margin: 1px 0;
            text-align: right;
            font-size: 25px;
        }
    </style>
    <script src="Scripts/angular.js"></script>
    <script>
        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        var operationAloowed = ["+", "-", ", " * ", " / ""];
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstValue = "";
            $scope.clear = false;
            $scope.operation = "";
            $scope.value = "0";
            $scope.getKeyPress = function (keyEvent) {
                $scope.setOperation(keyEvent.key);
                $scope.setValue(keyEvent.key);
            };
            $scope.runSummary = function () {
                if ($scope.clear) {
                    $scope.value = "";
                    $scope.clear = false;
                } else if ($scope.operation == "+") {
                    $scope.value = parseFloat($scope.firstValue) + parseFloat($scope.value);
                    $scope.clear = true;
                } else if ($scope.operation == "-") {
                    $scope.value = parseFloat($scope.firstValue) - parseFloat($scope.value);
                    $scope.clear = true;
                } else if ($scope.operation == "*") {
                    $scope.value = parseFloat($scope.firstValue) * parseFloat($scope.value);
                    $scope.clear = true;
                } else if ($scope.operation == "/") {
                    $scope.value = parseFloat($scope.firstValue) / parseFloat($scope.value);
                    $scope.clear = true;
                }
            }
            $scope.setValue = function (valueToSet) {
                if (isNumeric(String(valueToSet))) {
                    if ($scope.value.length == 1 && $scope.value == "0" || $scope.clear) {
                        console.log("#1");
                        $scope.value = "";
                        $scope.clear = false;
                    }
                    console.log("#c1");
                    $scope.value += valueToSet;
                }
            };
            $scope.setOperation = function (operationSet) {
                if (operationAloowed.indexOf(operationSet) != -1) {
                    if ($scope.firstValue != "") {
                        console.log("#1a");
                        $scope.runSummary();
                        $scope.firstValue = $scope.value;
                        $scope.operation = operationSet;
                    } else {
                        console.log("#1b");
                        $scope.firstValue = $scope.value;
                        $scope.operation = operationSet;
                        $scope.runSummary();
                        $scope.value = "";
                    }
                } else if (operationSet == "=" || operationSet == "Enter") {
                    $scope.runSummary();
                }
            };
            });
    </script>
</head>
<body ng-app="myApp" ng-keypress="getKeyPress($event)" ng-controller="myCtrl">
<div >
        <div>
            <input  type="text" value="{{value}}"/>
        </div>
        <div>
            <table>
                <tr>
                    <td><button ng-click="setValue(7)">7</button></td>
                    <td><button ng-click="setValue(8)">8</button></td>
                    <td><button ng-click="setValue(9)">9</button></td>
                    <td><button ng-click="setOperation('-')">-</button></td>
                </tr>
                <tr>
                    <td><button ng-click="setValue(4)">4</button></td>
                    <td><button ng-click="setValue(5)">5</button></td>
                    <td><button ng-click="setValue(6)">6</button></td>
                    <td><button ng-click="setOperation('+')">+</button></td>
                </tr>
                <tr>
                    <td><button ng-click="setValue(1)">1</button></td>
                    <td><button ng-click="setValue(2)">2</button></td>
                    <td><button ng-click="setValue(3)">3</button></td>
                    <td><button ng-click="setOperation('=')" >=</button></td>
                </tr>
                <tr>
                    <td><button ng-click="setValue(0)">0</button></td>
                    <td><button ng-click="setValue('.')">.</button></td>
                    <td><button ng-click="setOperation('*')">*</button></td>
                    <td><button ng-click="setOperation('/')">/</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>